<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentReportSubmitFileMapper">
	<insert id="insertReportSubmitFile" parameterType="gd.fintech.lms.vo.ReportSubmitFile">
		INSERT INTO
			report_submit_file(
				report_submit_file_uuid,
				report_submit_file_original,
				report_submit_no,
				report_submit_file_size,
				report_submit_file_type,
				report_submit_file_count,
				report_submit_file_createdate
			)VALUES(
				#{reportSubmitFileUuid},
				#{reportSubmitFileOriginal},
				#{reportSubmitNo},
				#{reportSubmitFileSize},
				#{reportSubmitFileType},
				#{reportSubmitFileCount},
				NOW()
			)
	</insert>
	
	<delete id="deleteReportSubmitFile" parameterType="String">
		DELETE 
		FROM report_submit_file
		WHERE report_submit_file_uuid = #{reportSubmitFileUuid}
	</delete>
	
	<delete id="deleteReportSubmitAllFile" parameterType="int">
		DELETE 
		FROM report_submit_file
		WHERE report_submit_no = #{reportSubmitNo}
	</delete>
	
	<select id="selectReportSubmitFileUuid" resultType="String" parameterType="int">
		SELECT
			report_submit_file_uuid reportSubmitFileUuid
		FROM report_submit_file
		WHERE report_submit_no = #{reportSubmitNo}
	</select>
</mapper>  