<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.mapper.StudentReportSubmitMapper">
	<resultMap type="gd.fintech.lms.vo.Report" id="selectReportListPage">
		<result property="reportNo" column="report_no"/>
		<result property="lectureNo" column="lecture_no"/>
		<result property="reportTitle" column="report_title"/>
		<result property="reportContent" column="report_content"/>
		<result property="reportCreatedate" column="report_createdate"/>
		<result property="reportUpdatedate" column="report_updatedate"/>
		<result property="reportStartdate" column="report_startdate"/>
		<result property="reportEnddate" column="report_enddate"/>
		
	<collection property="classRegistrationList" ofType="gd.fintech.lms.vo.ClassRegistration">
		<result property="lectureNo" column="lecture_no"/>
		<result property="accountId" column="account_id"/>
	</collection>	
	</resultMap>
	
	<select id="selectReportListPage" resultMap="selectReportListPage" parameterType="String">
		SELECT
			r.report_no,
			r.lecture_no,
			r.report_title,
			r.report_content,
			r.report_createdate,
			r.report_updatedate,
			r.report_startdate,
			r.report_enddate
		FROM report r left join class_registration cr
			 on r.lecture_no = cr.lecture_no
		WHERE cr.account_id = #{accountId}
		ORDER BY r.report_createdate DESC
	</select>
	
	<resultMap type="gd.fintech.lms.vo.ReportSubmit" id="selectReportSubmitOne">
		<result property="reportNo" column="report_no"/>
		<result property="accountId" column="account_id"/>
		<result property="reportSubmitNo" column="report_submit_no"/>
		<result property="reportSubmitWriter" column="report_submit_writer"/>
		<result property="reportSubmitTitle" column="report_submit_title"/>
		<result property="reportSubmitContent" column="report_submit_content"/>
		<result property="reportSubmitPoint" column="report_submit_point"/>
		<result property="reportSubmitFeedback" column="report_submit_feedback"/>
	
	<collection property="reportSubmitFile" ofType="gd.fintech.lms.vo.ReportSubmitFile">
		<result property="reportSubmitFileOriginal" column="report_submit_file_original"/>
		<result property="reportSubmitNo" column="report_submit_no"/>
		<result property="reportSubmitFileType" column="report_submit_file_type"/>
	</collection>	
	</resultMap>
	
	<select id="selectReportSubmitOne" resultMap="selectReportSubmitOne" parameterType="java.util.Map">
		SELECT
			rs.report_no,
			rs.account_id,
			rs.report_submit_no,
			rs.report_submit_content,
			rs.report_submit_point,
			rs.report_submit_feedback,
			rs.report_submit_writer,
			rs.report_submit_title,
			rsf.report_submit_file_original,
			rsf.report_submit_file_type	
		FROM report_submit rs left join report_submit_file rsf
			 on rs.report_submit_no = rsf.report_submit_no
		WHERE rs.report_no = #{reportNo} AND rs.account_id = #{accountId}
	</select>
	
	<select id="selectReportOne" parameterType="int" resultType="gd.fintech.lms.vo.Report">
	SELECT
		report_no reportNo,
		lecture_no lectureNo,
		report_title reportTitle,
		report_content reportContent,
		report_startdate reportStartdate,
		report_enddate reportEnddate
	FROM report
	WHERE report_no = #{reportNo} 	
	</select>
	
	<insert id="insertReport" parameterType="gd.fintech.lms.vo.ReportSubmit">
		<selectKey resultType="int" keyProperty="reportSubmitNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
			report_submit(
				report_no,
				account_id,
				report_submit_writer,
				report_submit_createdate,
				report_submit_updatedate,
				report_submit_title,
				report_submit_content
			)VALUES(
				#{reportNo},
				#{accountId},
				#{reportSubmitWriter},
				NOW(),
				NOW(),
				#{reportSubmitTitle},
				#{reportSubmitContent}
			)
	</insert>
	
	<update id="updateReportSubmit" parameterType="gd.fintech.lms.vo.ReportSubmit">
		UPDATE report_submit 
		SET
			report_submit_writer = #{reportSubmitWriter},
			report_submit_updatedate = NOW(),
			report_submit_title = #{reportSubmitTitle},
			report_submit_content = #{reportSubmitContent}
		WHERE report_submit_no = #{reportSubmitNo}	
	</update>
</mapper>