<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.manager.mapper.ManagerLoginMapper">
	<select id="selectAccountToSignupByoverlap" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*)
		FROM account
		<where>
			<if test="accountId != null">account_id = #{accountId}</if>
			<if test="accountEmail != null">account_Email = #{accountEmail}</if>
		</where>
	</select>

	<select id="selectAccountToManagerLogin" parameterType="gd.fintech.lms.vo.Account" resultType="String">
		SELECT account_id accountId
		FROM account
		WHERE
			account_id = #{accountId} and 
			account_pw = #{accountPw} and
			account_state = #{accountState} and
			account_level = #{accountLevel} 
	</select>
	
	<insert id="insertAccountToSignup" parameterType="gd.fintech.lms.vo.ManagerForm">
		INSERT INTO account(account_id, account_pw,
							account_state, account_level,
							account_createdate, account_updatedate)
		VALUES(#{managerId}, #{managerPw},
			   #{accountState}, #{accountLevel},
			   NOW(), NOW())
	</insert>
	
	<insert id="insertManagerQueueToSignup" parameterType="gd.fintech.lms.vo.ManagerForm">
		INSERT INTO manager_queue(manager_id, manager_email,
								  manager_phone, manager_name,
								  manager_gender, manager_birth)
		VALUES(#{managerId}, #{managerEmail},
			   #{managerPhone}, #{managerName},
			   #{managerGender}, #{managerBirth})
	</insert>
</mapper>