<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.manager.mapper.MemberQueueMapper">
	<resultMap type="gd.fintech.lms.vo.StudentQueue" id="selectStudentQueueList">
		<result property="studentId" column="student_id"/>
		<result property="studentEmail" column="student_email"/>
		<result property="studentName" column="student_name"/>
		<result property="studentPhone" column="student_phone"/>
		<result property="studentGender" column="student_gender"/>
		<result property="studentBirth" column="student_birth"/>
		<result property="studentAddressMain" column="student_address_main"/>
		<result property="studentAddressSub" column="student_address_sub"/>
		<collection property="account" ofType="gd.fintech.lms.vo.Account">
			<result property="accountId" column="account_id"/>
			<result property="accountPw" column="account_pw"/>
			<result property="accountState" column="account_state"/>
			<result property="accountLevel" column="account_level"/>
			<result property="accountCreateDate" column="account_createdate"/>
			<result property="accountUpdateDate" column="account_updatedate"/>
		</collection>
	</resultMap>
	<resultMap type="gd.fintech.lms.vo.TeacherQueue" id="selectTeacherQueueList">
		<result property="teacherId" column="teacher_id"/>
		<result property="teacherEmail" column="teacher_email"/>
		<result property="teacherName" column="teacher_name"/>
		<result property="teacherPhone" column="teacher_phone"/>
		<result property="teacherGender" column="teacher_gender"/>
		<result property="teacherBirth" column="teacher_birth"/>
		<result property="teacherAddressMain" column="teacher_address_main"/>
		<result property="teacherAddressSub" column="teacher_address_sub"/>
		<collection property="account" ofType="gd.fintech.lms.vo.Account">
			<result property="accountId" column="account_id"/>
			<result property="accountPw" column="account_pw"/>
			<result property="accountState" column="account_state"/>
			<result property="accountLevel" column="account_level"/>
			<result property="accountCreateDate" column="account_createdate"/>
			<result property="accountUpdateDate" column="account_updatedate"/>
		</collection>
	</resultMap>
	<select id="selectStudentMemberQueue" resultMap="selectStudentQueueList">
		SELECT 
			a.account_id,
			a.account_pw,
			a.account_state,
			s.student_id,
			s.student_email,
			s.student_name,
			s.student_phone,
			s.student_gender,
			s.student_birth,
			s.student_address_main,
			s.student_address_sub,
			a.account_level
		FROM student_queue s, account a
		WHERE s.student_id = a.account_id
		AND a.account_state = '대기'
	</select>
	<select id="selectTeacherMemberQueue" resultMap="selectTeacherQueueList">
		SELECT 
			t.teacher_id,
			t.teacher_email,
			t.teacher_name,
			t.teacher_phone,
			t.teacher_gender,
			t.teacher_birth,
			t.teacher_address_main,
			t.teacher_address_sub,
			a.account_level
		FROM teacher_queue t, account a
		WHERE t.teacher_id = a.account_id
		AND a.account_state = '대기'
	</select>
	<delete id="deleteStudentQueue" parameterType="String">
		DELETE FROM student_queue
		WHERE student_id = #{studentId}
	</delete>
	<update id="updateAccountState" parameterType="String">
		UPDATE account
		SET account_state = '거절'
		WHERE account_id = #{studentId}
	</update>
</mapper>