<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherTestMapper">
	<!-- 시험목록 출력 -->
	<select id="selectTestList" parameterType="int" resultType="gd.fintech.lms.vo.Test">
		SELECT
			test_no testNo,
			lecture_no lectureNo,
			test_startdate testStartdate,
			test_enddate testEnddate,
			test_content testContent,
			test_createdate,
			test_updatedate
		FROM test
		WHERE lecture_no = #{lectureNo}
	</select>
	
	<!-- 시험문제 / 문제 보기 1:다 -> collection사용 -->
	<resultMap type="gd.fintech.lms.vo.Multiplechoice" id="selectTestOne">
		<result property="multiplechoiceNo" column="multiplechoice_no"/>
		<result property="lectureNo" column="lecture_no"/>
		<result property="multiplechoiceId" column="multiplechoice_id"/>
		<result property="multiplechoiceQuestion" column="multiplechoice_question"/>
		<result property="multiplechoiceAnswer" column="multiplechoice_answer"/>
		<result property="multiplechoiceCreatedate" column="multiplechoice_createdate"/>
		<result property="multiplechoiceUpdatedate" column="multiplechoice_updatedate"/>
		<!-- 문제 보기 -->
		<collection property="multiplechoiceExampleList" ofType="gd.fintech.lms.vo.MultiplechoiceExample">
			<result property="multiplechoiceExampleNo" column="multiplechoice_example_no"/>
			<result property="multiplechoiceNo" column="multiplechoice_no"/>
			<result property="multiplechoiceExampleId" column="multiplechoice_example_id"/>
			<result property="multiplechoiceExampleContent" column="multiplechoice_example_content"/>
		</collection>
	</resultMap>
	
	<!-- 시험문제, 답 상세보기 -->
	<select id="selectTestOne" parameterType="int" resultMap="selectTestOne">
		SELECT
			mc.multiplechoice_no,
			mc.lecture_no,
			mc.multiplechoice_id,
			mc.multiplechoice_question,
			mc.multiplechoice_answer,
			mc.multiplechoice_createdate,
			mc.multiplechoice_updatedate,
			mce.multiplechoice_example_no,
			mce.multiplechoice_example_id,
			mce.multiplechoice_example_content
		FROM multiplechoice mc, multiplechoice_example mce
		WHERE mc.multiplechoice_no = mce.multiplechoice_no
		AND mc.lecture_no = #{lectureNo}
		ORDER BY mc.multiplechoice_id ASC, mce.multiplechoice_example_id ASC
	</select>
	
	<!-- 시험문제, 답 추가 -->
	<insert id="insertTestQuestion" parameterType="java.util.List">
		INSERT INTO multiplechoice(
			lecture_no,
			multiplechoice_id,
			multiplechoice_question,
			multiplechoice_answer,
			multiplechoice_createdate,
			multiplechoice_updatedate
		)VALUES
			<foreach collection="list" separator=" , ">
			( 
				#{lectureNo}, 
				#{multiplechoiceId},
				#{multiplechoiceQuestion},
				#{multiplechoiceAnswer},
				NOW(),
				NOW() 
			)
			</foreach>
	</insert>
	
	<!-- 시험문제 보기 추가 -->
	<insert id="insertTestQuestionExample" parameterType="java.util.List">
		INSERT INTO multiplechoice_example(
			multiplechoice_no,
			multiplechoice_example_id,
			multiplechoice_example_content,
			multiplechoice_example_createdate,
			multiplechoice_example_updatedate
		)VALUES
			<foreach collection="examList" separator=" , ">
			(
				#{multiplechoiceNo},
				#{multiplechoiceExampleId},
				#{multiplechoiceExampleContent},
				NOW(),
				NOW()
			)
			</foreach>
	</insert>
	
	<insert id="insertTest" parameterType="gd.fintech.lms.vo.Test">
		INSERT INTO test(
			lecture_no,
			test_startdate,
			test_enddate,
			test_content,
			test_createdate,
			test_updatedate
		)VALUES(
			#{lectureNo},
			#{testStartdate},
			#{testEnddate},
			#{testContent},
			NOW(),
			NOW()
		)
	</insert>
</mapper>