<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherCommentMapper">
	<select id="selectQuestionCommentList" resultType="gd.fintech.lms.vo.QuestionComment">
		SELECT
			question_comment_no questionCommentNo,
			question_comment_writer questionCommentWriter,
			question_comment_content questionCommentContent
		FROM question_comment
	</select>
</mapper>