<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherCommentMapper">
	<!-- 댓글목록 -->
	<select id="selectQuestionCommentList" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.QuestionComment">
		SELECT
			question_comment_no questionCommentNo,
			account_id accountId,
			question_comment_writer questionCommentWriter,
			question_comment_content questionCommentContent,
			question_comment_createdate questionCommentCreatedate,
			question_comment_updatedate questionCommentUpdatedate
		FROM question_comment
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectQuestionCommentCount" parameterType="int" resultType="int">
		SELECT
			COUNT(*)
		FROM question_comment
		WHERE question_no = #{questionNo}
	</select>
	
	<!-- 댓글입력 -->
	<insert id="insertQuestionComment" parameterType="gd.fintech.lms.vo.QuestionComment">
		INSERT INTO question_comment(
			question_no,
			account_id,
			question_comment_writer,
			question_comment_content,
			question_comment_createdate,
			question_comment_updatedate
		) VALUES(
			#{questionNo},
			#{accountId},
			#{questionCommentWriter},
			#{questionCommentContent},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 댓글삭제 -->
	<delete id="deleteQuestionComment" parameterType="int">
		DELETE FROM question_comment
		WHERE question_comment_no = #{questionCommentNo}
	</delete>
	
	<!-- 댓글수정 -->
	<update id="updateQuestionComment" parameterType="gd.fintech.lms.vo.QuestionComment">
		UPDATE question_comment
		SET
			question_comment_content = #{questionCommentContent},
			question_comment_updatedate = NOW()
		WHERE question_comment_no = #{questionCommentNo}
	</update>
	
	<!-- 댓글 상세보기 -->
	<select id="selectQuestionCommentOne" parameterType="int" resultType="gd.fintech.lms.vo.QuestionComment">
		SELECT
			question_comment_no questionCommentNo,
			account_id accountId,
			question_comment_writer questionCommentWriter,
			question_comment_content questionCommentContent,
			question_comment_updatedate questionCommentUpdatedate
		FROM question_comment
		WHERE question_comment_no = #{questionCommentNo}
	</select>
</mapper>