<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherLmsNoticeMapper">
	<!-- 공지사항 목록 -->
	<select id="selectLmsNoticeList" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.LmsNotice">
		SELECT
			lms_notice_no lmsNoticeNo,
			lms_notice_writer lmsNoticeWriter,
			lms_notice_title lmsNoticeTitle,
			lms_notice_content lmsNoticeContent,
			lms_notice_count lmsNoticeCount,
			lms_notice_createdate lmsNoticeCreatedate
		FROM lms_notice
		<where>
			<if test="searchTitle != null">
				AND lms_notice_title LIKE CONCAT("%", #{searchTitle}, "%")
			</if>
		</where>
		ORDER BY lms_notice_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 공지사항 리스트 총개수 -->
	<select id="selectLmsNoticeCount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM lms_notice
		<where>
			<if test="searchTitle != null">
				AND lms_notice_title LIKE CONCAT("%", #{searchTitle}, "%")
			</if>
		</where>
	</select>
	
	<!-- 공지사항 상세보기 -->
	<select id="selectLmsNoticeOne" parameterType="int" resultType="gd.fintech.lms.vo.LmsNotice">
		SELECT
			lms_notice_no lmsNoticeNo,
			lms_notice_writer lmsNoticeWriter,
			lms_notice_title lmsNoticeTitle,
			lms_notice_content lmsNoticeContent
		FROM lms_notice
		WHERE lms_notice_no = #{lmsNoticeNo}
	</select>
	
	<!-- 공지사항 조회수 증가 -->
	<update id="updateLmsNoticeCount" parameterType="int">
		UPDATE lms_notice
		SET lms_notice_count = lms_notice_count + 1
		WHERE lms_notice_no = #{lmsNoticeNo}
	</update>
</mapper>