<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherQuestionMapper">
	<select id="selectQuestionList" resultType="gd.fintech.lms.vo.Question">
		SELECT 
			question_no questionNo,
			question_writer questionWriter,
			question_title questionTitle,
			question_count questionCount
		FROM question
	</select>
</mapper>