<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherReportMapper">

		<resultMap type="gd.fintech.lms.vo.Report" id="selectReportListResult">
			<result property="reportNo" column="report_no"/>
			<result property="lectureNo" column="lecture_no"/>
			<result property="reportTitle" column="report_title"/>
			<result property="reportContent" column="report_content"/>
			<result property="reportCreatedate" column="report_createdate"/>
			<result property="reportUpdatedate" column="report_updatedate"/>
			<result property="reportStartdate" column="report_startdate"/>
			<result property="reportEnddate" column="report_enddate"/>
			<collection property="lectureList" ofType="gd.fintech.lms.vo.Lecture">
				<result property="lectureNo" column="lecture_no" />
			</collection>
			<collection property="accountList" ofType="gd.fintech.lms.vo.Account">
				<result property="accountId" column="account_id" />
			</collection>
		</resultMap>
	<!-- 과제 목록출력 -->
	<select id="selectReportList" parameterType="java.util.Map" resultMap="selectReportListResult">
		SELECT 
			r.report_no, 
			r.lecture_no, 
			r.report_title, 
			r.report_content, 
			r.report_startdate, 
			r.report_enddate,
			l.lecture_no,
			a.account_id
		FROM report r LEFT JOIN lecture l
		ON r.lecture_no = l.lecture_no
		LEFT JOIN account a
		ON l.account_id = a.account_id
		WHERE r.lecture_no = #{lectureNo}
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 과제 등록 -->
	<insert id="insertReport" parameterType="gd.fintech.lms.vo.Report">
		INSERT INTO report (lecture_no, 
							report_title, 
							report_content,
		 					report_createdate, 
		 					report_updatedate, 
		 					report_startdate, 
		 					report_enddate)
	 	VALUES (#{lectureNo}, 
	 			#{reportTitle}, 
	 			#{reportContent}, 
	 			NOW(), 
	 			NOW(), 
	 			#{reportStartdate}, 
	 			#{reportEnddate})
	</insert>
	<!-- 과제삭제 -->
	<delete id="deleteReport" parameterType="int">
		DELETE FROM report
		WHERE report_no = #{reportNo}
	</delete>
	
	<resultMap type="gd.fintech.lms.vo.Report" id="selectReportResult">
		<result property="reportNo" column="report_no"/>
		<result property="lectureNo" column="lecture_no"/>
		<result property="reportTitle" column="report_title"/>
		<result property="reportContent" column="report_content"/>
		<result property="reportCreatedate" column="report_createdate"/>
		<result property="reportUpdatedate" column="report_updatedate"/>
		<result property="reportStartdate" column="report_startdate"/>
		<result property="reportEnddate" column="report_enddate"/>
		<collection property="reportSubmitList" ofType="gd.fintech.lms.vo.ReportSubmit">
			<result property="reportSubmitNo" column="report_submit_no" />
			<result property="reportNo" column="report_no" />
			<result property="accountId" column="account_id" />
			<result property="reportSubmitWriter" column="report_submit_writer" />
			<result property="reportSubmitCreatedate" column="report_submit_createdate" />
			<result property="reportSubmitUpdatedate" column="report_submit_updatedate" />
			<result property="reportSubmitTitle" column="report_submit_title" />
			<result property="reportSubmitContent" column="report_submit_content" />
			<result property="reportSubmitPoint" column="report_submit_point" />
			<result property="reportSubmitFeedback" column="report_submit_feedback" />
		</collection>
		<collection property="reportSubmitFileList" ofType="gd.fintech.lms.vo.ReportSubmitFile">
			<result property="reportSubmitFileUuid" column="report_submit_file_uuid" />
			<result property="reportSubmitFileOriginal" column="report_submit_file_original" />
			<result property="reportSubmitNo" column="report_submit_no" />
			<result property="reportSubmitFileSize" column="report_submit_file_size" />
			<result property="reportSubmitFileType" column="report_submit_file_type" />
			<result property="reportSubmitFileCount" column="report_submit_file_count" />
			<result property="reportSubmitFileCreatedate" column="report_submit_file_createdate" />
		</collection>
	</resultMap>
	
	<!-- 과제 상세보기 -->
	<select id="selectReportOne" parameterType="int" resultMap="selectReportResult">
		SELECT 
			r.report_no, 
			r.lecture_no, 
			r.report_title, 
			r.report_content, 
			r.report_startdate, 
			r.report_enddate,
			rs.report_submit_no,
			rs.report_no,
			rs.report_submit_writer,
			rs.report_submit_title,
			rs.report_submit_content,
			rs.report_submit_point
		FROM report r LEFT JOIN report_submit rs
		ON r.report_no = rs.report_no
		LEFT JOIN report_submit_file rf
		ON rs.report_submit_no = rf.report_submit_no
		WHERE r.report_no = #{reportNo}
	</select>
	<!-- 과제수정 -->
	<update id="updateReport" parameterType="gd.fintech.lms.vo.Report">
		UPDATE report
		SET
			report_title = #{reportTitle},
			report_content = #{reportContent},
			report_updatedate = NOW(),
			report_startdate = #{reportStartdate},
			report_enddate = #{reportEnddate}
		WHERE report_no = #{reportNo}
	</update>
	<!-- 과제목록 페이징 -->
	<select id="selectReoprtCount" parameterType="int" resultType="int">
		SELECT 
			COUNT(*)
		FROM report r , lecture l, account a
		WHERE r.lecture_no = l.lecture_no
		AND l.account_id = a.account_id
		AND r.lecture_no = #{lectureNo}
	</select>
</mapper>