<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherQuestionMapper">
	<!-- 질문게시판 목록 출력 -->
	<select id="selectQuestionList" parameterType="java.util.Map" resultType="gd.fintech.lms.vo.Question">
		SELECT 
			question_no questionNo,
			question_writer questionWriter,
			question_title questionTitle,
			question_count questionCount
		FROM question
		WHERE lecture_no = #{lectureNo}
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 질문게시판 리스트 총개수 -->
	<select id="selectQuestionCount" parameterType="int" resultType="int">
		SELECT
			COUNT(*)
		FROM question
		WHERE lecture_no = #{lectureNo}
	</select>
	
	<!-- 질문게시판 상세보기 + 댓글 출력 -->
	<resultMap type="gd.fintech.lms.vo.Question" id="selectQuestionOneResult">
		<result property="questionNo" column="question_no"/>
		<result property="lectureNo" column="lecture_no"/>
		<result property="questionWriter" column="question_writer"/>
		<result property="questionTitle" column="question_title"/>
		<result property="questionContent" column="question_content"/>
		<result property="questionCreatedate" column="question_createdate"/>
		<result property="questionUpdatedate" column="question_updatedate"/>
		<result property="questionCount" column="question_count"/>
		<result property="questionPassword" column="question_password"/>
			<collection property="questionCommentList" ofType="gd.fintech.lms.vo.QuestionComment">
				<result property="questionCommentNo" column="question_comment_no" />
				<result property="questionNo" column="question_no" />
				<result property="accountId" column="account_id" />
				<result property="questionCommentWriter" column="question_comment_writer" />
				<result property="questionCommentContent" column="question_comment_content" />
				<result property="questionCommentCreatedate" column="question_comment_createdate" />
				<result property="questionCommentUpdatedate" column="question_comment_updatedate" />
			</collection>
			<collection property="questionfile" ofType="gd.fintech.lms.vo.QuestionFile">
		 		<result property="questionFileUuid" column="question_file_uuid"/>
		 		<result property="questionFileOriginal" column="question_file_original"/>
		 		<result property="questionNo" column="question_no"/>
		 		<result property="questionFileSize" column="question_file_size"/>
		 		<result property="questionFileType" column="question_file_type"/>
		 		<result property="questionFileCount" column="question_file_count"/>
		 		<result property="questionFileCreatedate" column="question_file_createdate"/>
		 	</collection>
	</resultMap>
	<select id="selectQuestionOne" resultMap="selectQuestionOneResult" parameterType="java.util.Map">
		SELECT
			q.question_no,
			q.lecture_no,
			q.question_writer,
			q.question_title,
			q.question_content,
			qc.question_no,
			qc.account_id,
			qc.question_comment_no,
			qc.question_comment_writer,
			qc.question_comment_content,
			qc.question_comment_createdate,
			qc.question_comment_updatedate,
			qf.question_file_original,
	  		qf.question_file_count,
	  		qf.question_file_createdate,
	  		qf.question_file_uuid
		FROM question q LEFT JOIN question_comment qc
		ON q.question_no = qc.question_no
		LEFT JOIN question_file qf
		ON q.question_no = qf.question_no
		WHERE q.question_no = #{questionNo}
		ORDER BY qc.question_comment_createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<update id="updateQuestionOneCount" parameterType="int">
		UPDATE question
		SET question_count = question_count + 1
		WHERE question_no = #{questionNo}
	</update>
	
</mapper>