<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherInfoMapper">
	<!-- 주소 변경 사이트 주소 가져오기 -->
	<select id="selectTeacherByAddress" parameterType="String" resultType="gd.fintech.lms.vo.Teacher">
		SELECT 
			teacher_address_main teacherAddressMain,
			teacher_address_sub teacherAddressSub
		FROM teacher
		WHERE teacher_id = #{teacherId}
	</select>

	<!-- 회원 탈퇴 후 account 테이블 탈퇴로 수정 -->
	<update id="updateAccountTodelete" parameterType="gd.fintech.lms.vo.Account">
		UPDATE account
		SET account_state = #{accountState}
		WHERE account_id = #{accountId}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteTeacher" parameterType="String">
		DELETE FROM teacher
		WHERE teacher_id = #{teacherId}
	</delete>
	
	<!-- 마이 페이지 주소 수정 -->
	<update id="updateTeacherByAddress" parameterType="gd.fintech.lms.vo.Teacher">
		UPDATE teacher
		SET 
			teacher_address_main = #{teacherAddressMain}, 
			teacher_address_sub = #{teacherAddressSub}, 
			teacher_updatedate = NOW()
		WHERE teacher_id = #{teacherId}
	</update>
	
	<!-- 마이 페이지 한줄 소개 수정 -->
	<update id="updateTeacherByInfo" parameterType="java.util.Map">
		UPDATE teacher
		SET 
			teacher_info = #{teacherInfo}, teacher_updatedate = NOW()
		WHERE teacher_id = #{teacherId}
	</update>
	
	<!-- 마이 페이지 핸드폰 번호 수정 -->
	<update id="updateTeacherByPhone" parameterType="java.util.Map">
		UPDATE teacher
		SET 
			teacher_phone = #{teacherPhone}, teacher_updatedate = NOW()
		WHERE teacher_id = #{teacherId}
	</update>

	<!-- 이미지 수정 할 때 현재 이미지를 삭제 -->
	<select id="selectTeacherByImageTodelete" parameterType="String" resultType="String">
		SELECT teacher_image
		FROM teacher
		WHERE teacher_id = #{teacherId}
	</select>
	<!-- 마이 페이지 사진 수정 -->
	<update id="updateTeacherByImage" parameterType="java.util.Map">
		UPDATE teacher
		SET 
			teacher_image = #{teacherImage}, teacher_updatedate = NOW()
		WHERE teacher_id = #{teacherId}
	</update>
	
	<!-- 마이 페이지 생일 수정 -->
	<update id="updateTeacherByBirth" parameterType="java.util.Map">
		UPDATE teacher
		SET 
			teacher_birth = #{teacherBirth}, teacher_updatedate = NOW()
		WHERE teacher_id = #{teacherId}
	</update>
	
	<!-- 마이 페이지 성별 수정 -->
	<update id="updateTeacherByGender" parameterType="java.util.Map">
		UPDATE teacher
		SET 
			teacher_gender = #{teacherGender}, teacher_updatedate = NOW()
		WHERE teacher_id = #{teacherId}
	</update>
	
	<!-- 마이 패이지 이메일 수정 시 중복체크 -->
	<select id="selectTeacherAndTeacherQueueByOverlapEmail" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM teacher t CROSS join teacher_queue tq
		WHERE t.teacher_email = #{teacherEmail} OR tq.teacher_email = #{teacherEmail}
	</select>

	<!-- 마이 페이지 이메일 수정 -->
	<update id="updateTeacherByEmail" parameterType="java.util.Map">
		UPDATE teacher
		SET 
			teacher_Email = #{teacherEmail}, teacher_updatedate = NOW()
		WHERE teacher_id = #{teacherId}
	</update>
	
	<!-- 마이 페이지 이름 수정 -->
	<update id="updateTeacherByName" parameterType="java.util.Map">
		UPDATE teacher
		SET 
			teacher_name = #{teacherName}, teacher_updatedate = NOW()
		WHERE teacher_id = #{teacherId}
	</update>

	<!-- 패스워드 변경 시 현재 비닐번호 체크 -->
	<select id="selectAccountByPw" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*)
		FROM account
		WHERE 
			account_pw = PASSWORD(#{accountPw}) and
			account_id = #{accountId}
	</select>

	<!-- 강사 마이페이지 정보 -->
	<select id="selectTeacherInfo" parameterType="String" resultType="gd.fintech.lms.vo.Teacher">
		SELECT
			teacher_id teacherId,
			teacher_email teacherEmail,
			teacher_name teacherName,
			teacher_phone teacherPhone,
			teacher_gender teacherGender,
			teacher_birth teacherBirth,
			teacher_address_main teacherAddressMain,
			teacher_address_sub teacherAddressSub,
			teacher_image teacherImage,
			teacher_info teacherInfo,
			teacher_updatedate teacherUpdatedate
		FROM teacher
		WHERE teacher_id = #{teacherId}
	</select>
	
	<!-- 패스워드 변경 -->
	<update id="updateAccountPw" parameterType="gd.fintech.lms.vo.Account">
		UPDATE account
		SET 
			account_pw = PASSWORD(#{accountPw}),
			account_updatedate = NOW()
		WHERE account_id = #{accountId}
	</update>
</mapper>