<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherLectureMapper">
	<!-- 강사별 강의목록 출력 -->
	<select id="selectLectureList" parameterType="String" resultType="gd.fintech.lms.vo.Lecture">
		SELECT
			lecture_no lectureNo,
			account_id accountId,
			teacher_name teacherName,
			lecture_name lectureName,
			lecture_startdate lectureStartdate,
			lecture_enddate lectureEnddate
			lecture_total lectureTotal
		FROM lecture
		WHERE account_id = #{accountId}
	</select>
</mapper>