<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.teacher.mapper.TeacherReportMapper">
	<!-- 과제 목록출력 -->
	<select id="selectReportList" resultType="gd.fintech.lms.vo.Report">
		SELECT 
			report_no reportNo, 
			lecture_no lectureNo, 
			report_title reportTitle, 
			report_content reportContent, 
			report_startdate reportStartdate, 
			report_enddate reportEnddate
		FROM report
	</select>
	<!-- 과제 등록 -->
	<insert id="insertReport" parameterType="gd.fintech.lms.vo.Report">
		INSERT INTO report (report_no, 
							lecture_no, 
							report_title, 
							report_content,
		 					report_createdate, 
		 					report_updatedate, 
		 					report_startdate, 
		 					report_enddate)
	 	VALUES (#{reportNo}, 
	 			#{lectureNo}, 
	 			#{reportTitle}, 
	 			#{reportContent}, 
	 			NOW(), 
	 			NOW(), 
	 			#{reportStartdate}, 
	 			#{reportEnddate})
	</insert>
	<!-- 과제삭제 -->
	<delete id="deleteReport" parameterType="int">
		DELETE FROM report
		WHERE report_no = #{reportNo}
	</delete>
	<!-- 과제 상세보기 -->
	<select id="selectReportOne" parameterType="int" resultType="gd.fintech.lms.vo.Report">
		SELECT 
			report_no reportNo, 
			lecture_no lectureNo, 
			report_title reportTitle, 
			report_content reportContent, 
			report_startdate reportStartdate, 
			report_enddate reportEnddate
		FROM report
		WHERE report_no = #{reportNo}
	</select>
	<!-- 과제수정 -->
	<update id="updateReport" parameterType="gd.fintech.lms.vo.Report">
		UPDATE report
		SET
			report_title = #{reportTitle},
			report_content = #{reportContent},
			report_updatedate = NOW(),
			report_startdate = #{reportStartdate},
			report_enddate = #{reportEnddate}
		WHERE report_no = #{reportNo}
	</update>
</mapper>