<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gd.fintech.lms.student.restmapper.StudentReportSubmitRestMapper">
	<!-- 수강중인 강의 리스트 -->
	<select id="selectMyLectureList" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			lecture_name
		FROM lecture l
		LEFT JOIN class_registration cr
		ON l.lecture_no = cr.lecture_no
		LEFT JOIN report r
		ON l.lecture_no = r.lecture_no
		LEFT JOIN report_submit rs
		ON r.report_no = rs.report_no
		WHERE cr.account_id =#{studentId}
		GROUP BY l.lecture_no
		ORDER BY l.lecture_no DESC
	</select>
	<!-- 나의 과제 점수 -->
	<select id="selectMyReportScore" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			coalesce(SUM(rs.report_submit_point),0) 'score'
		FROM lecture l
		LEFT JOIN class_registration cr
		ON l.lecture_no = cr.lecture_no
		LEFT JOIN report r
		ON l.lecture_no = r.lecture_no
		LEFT JOIN report_submit rs
		ON r.report_no = rs.report_no
		WHERE cr.account_id =#{studentId}
		GROUP BY l.lecture_no
		ORDER BY l.lecture_no DESC
	</select>
	<!-- 전체 학생 과제 평균 점수 -->
	<select id="selectAvgReportScore" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			coalesce(ROUND(AVG(rs.report_submit_point),1),0) 'scoreAvg'
		FROM lecture l
		left join report r
		ON l.lecture_no = r.lecture_no
		LEFT JOIN report_submit rs
		ON r.report_no = rs.report_no
		WHERE l.lecture_no IN (SELECT
				l.lecture_no
				FROM lecture l
				LEFT JOIN class_registration cr
				ON l.lecture_no = cr.lecture_no
				LEFT JOIN report r
				ON l.lecture_no = r.lecture_no
				LEFT JOIN report_submit rs
				ON r.report_no = rs.report_no
				WHERE cr.account_id =#{studentId}
				GROUP BY l.lecture_no)
		GROUP BY l.lecture_no
		ORDER BY l.lecture_no DESC
	</select>
</mapper>